body {
  font-family: "Montserrat", "sans-serif";
  overflow-x: hidden;
  letter-spacing: -0.8px;
}

.page-content {
  min-height: 62vh;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  color: #000000;
}

h2 {
  font-weight: 800;
  font-size: 40px;
  color: #000000;
}

h3 {
  font-weight: 800;
  font-size: 30px;
  color: #000000;
}

h4 {
  font-weight: 800;
  font-size: 20px;
  color: #000000;
}

h5 {
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  opacity: 0.7;
  text-transform: uppercase;
}

h6 {
  font-weight: 800;
  font-size: 14px;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.7;
}

a {
  text-decoration: none;
  outline: 0;
  color: #ff0000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

a:not(:disabled):not(.disabled):active, a:not(:disabled):not(.disabled).active {
  background-color: transparent;
  color: #000000;
  border: 0;
}

a h4:hover {
  color: #ff0000;
}

.text-primary {
  color: #ff0000 !important;
}

.bg-primary {
  color: #FFF;
  background-color: #ff0000 !important;
}

.btn-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 95px;
  right: 30px;
  color: #FFF;
  border-radius: 50px;
  background-color: #000000;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.btn-float .my-float {
  margin-top: 14px;
}

.btn-float:focus, .btn-float.focus {
  color: #fff;
}

.whatsapp {
  bottom: 30px;
  background-color: #25d366;
}

.btn {
  padding: 15px 25px;
  font-weight: 600;
  font-size: 14px;
  border: 0;
  border-radius: 0;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.btn:hover, .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  box-shadow: 0;
  border: 0;
}

.btn-primary {
  background-color: #ff0000;
  color: #fff;
  border: 0;
}

.btn-primary:hover {
  background-color: #000000;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
  background-color: #ff0000;
  color: #fff;
  border: 0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active.focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled).active.focus {
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #ff0000;
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.btn-secondary {
  background-color: #fff;
  color: #ff0000;
  border: 0;
}

.btn-secondary:hover {
  background-color: rgba(84, 201, 64, 0.15);
  color: #ff0000;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #fff;
  color: #ff0000;
  border: 0;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled):active.focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled).active.focus {
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.btn-secondary:focus, .btn-secondary.focus {
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.form-control {
  color: #000000;
  padding: 20px;
  font-size: 14px;
  font-weight: 800;
  height: auto;
  border: 0;
  background-color: #F6F6FA;
  opacity: 1;
}

.form-control:focus, .form-control.focus {
  outline: 0;
  box-shadow: 0px 3px 15px #00000024;
}

.navbar {
  padding: 26px 0;
  z-index: 100;
  position: absolute;
  width: 100%;
}

.navbar .logo {
  max-width: 125px;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 20px 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ff0000;
}

.navbar .navbar-nav .dropdown {
  padding: 0;
  border-radius: 0;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
  padding: 0;
}

.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  padding: 20px;
  font-size: 14px;
}

.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover + .dropdown-menu {
  display: block;
}

.navbar .navbar-nav .dropdown .dropdown-menu:hover, .navbar .navbar-nav .dropdown .dropdown-menu:active, .navbar .navbar-nav .dropdown .dropdown-menu:focus {
  display: block;
}

.navbar .navbar-nav .dropdown .dropdown-lvl {
  left: 100%;
  top: auto;
  margin-top: -62px;
  /* background-color: $secondary;
                .dropdown-item{
                    color: #ffffff;
                    &:hover{
                        color: $secondary;
                    }
                } */
}

.carousel .carousel-indicators li {
  width: 20px;
}

.slider-home {
  overflow: hidden;
}

.slider-home #carouselHome {
  max-height: 100vh;
}

.slider-home #carouselHome .carousel-caption {
  left: 8vw;
  right: 30VW;
  top: 35vh;
  text-align: left;
  max-height: 350px;
}

.slider-home #carouselHome .carousel-caption h1, .slider-home #carouselHome .carousel-caption h5, .slider-home #carouselHome .carousel-caption p {
  color: #fff;
  opacity: 1;
}

.slider-home #carouselHome .carousel-caption P {
  padding-right: 100px;
}

.slider-home #carouselHome .carousel-item {
  background-color: #000000;
}

.slider-home #carouselHome .carousel-item img {
  opacity: 0.85;
}

.slider-home #carouselHome .carousel-control-next, .slider-home #carouselHome .carousel-control-prev {
  top: auto;
  bottom: 30px;
  width: 50px;
  height: 50px;
}

.slider-home #carouselHome .carousel-control-next ion-icon, .slider-home #carouselHome .carousel-control-prev ion-icon {
  font-size: 30px;
}

.slider-home #carouselHome .carousel-control-prev {
  left: 5%;
}

.slider-home #carouselHome .carousel-control-next {
  right: auto;
  left: 9%;
}

.slider-home #carouselHome ol {
  margin-bottom: 28px;
}

.about {
  margin-top: 110px;
}

.about .videos h4 {
  position: absolute;
  bottom: 16px;
  left: 30px;
  z-index: 999;
  color: #fff;
}

.about .videos .image-prev {
  background-color: #000000;
}

.about .videos .image-prev img {
  opacity: 0.6;
  width: 100%;
}

.about .videos .image-prev .btn-play {
  position: absolute;
  top: 40%;
  right: auto;
  left: 40%;
  bottom: auto;
  z-index: 5;
}

.about .videos .image-prev:hover .btn-play {
  color: #ff0000;
  background-color: #000000;
}

.about-date {
  background-color: #ff0000;
  padding: 30px;
  flex-direction: row;
}

.about-date .item {
  padding: 20px;
  margin-right: 5px;
}

.about-date .item h3, .about-date .item h4 {
  color: #fff;
  text-align: center;
}

.testimonios .profile {
  border: 3px solid #F6F6FA;
  padding: 40px 30px;
  margin-top: 45px;
}

.testimonios .profile .picture {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.testimonios .profile .date {
  margin-left: 30px;
}

.testimonios .profile .caption {
  padding-top: 30px;
}

.testimonios .carousel-indicators {
  margin-bottom: -50px;
}

.testimonios .carousel-indicators li {
  background-color: #000000;
}

.testimonios .carousel-control-next, .testimonios .carousel-control-prev {
  top: 0;
  bottom: auto;
  width: 50px;
  height: 50px;
  opacity: 1;
  background-color: #F6F6FA;
}

.testimonios .carousel-control-next ion-icon, .testimonios .carousel-control-prev ion-icon {
  font-size: 24px;
  color: #000000;
}

.testimonios .carousel-control-prev {
  right: 6%;
  left: auto;
}

.testimonios .carousel-control-next {
  right: 0;
}

.form-carrera {
  padding-top: 110px;
  display: flex;
}

.form-carrera .form {
  padding: 70px 100px;
  width: 55%;
}

.form-carrera .banner {
  width: 65%;
}

.news {
  margin-top: 110px;
  background-color: #F6F6FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.news .card {
  border: 0;
  margin-top: 75px;
}

.news .card .card-image-top {
  max-height: 346px;
  overflow: hidden;
}

.news .card .card-body {
  padding-bottom: 40px;
  padding-left: 35px;
  padding-right: 35px;
}

.news .card .fecha {
  position: absolute;
  margin-top: -60px;
  width: 80px;
  height: 80px;
  background-color: #000000;
  text-align: center;
  padding: 10px;
}

.news .card .fecha h3 {
  color: #ff0000;
  margin-bottom: 0;
}

.news .card .fecha p {
  color: #fff;
  opacity: 1;
  margin-bottom: 0;
}

.header-top {
  background-color: #000000;
  height: 350px;
  overflow: hidden;
  margin-bottom: 110px;
}

.header-top h2 {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 250px;
}

.header-top img {
  opacity: 0.4;
}

.modal .form-carrera {
  padding: 0;
}

.modal .form-carrera .form {
  width: 38%;
  padding: 70px;
}

.btn-play {
  padding: 25px;
  border-radius: 50%;
  line-height: 0;
  font-size: 20px;
  color: #fff;
  background-color: #ff0000;
}

.university .asesores .card {
  width: 120px;
  height: 65px;
  align-items: center;
  border: 0;
  margin-bottom: 120px;
}

.university .asesores .card .avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
}

.university .asesores .card .avatar img {
  height: 100%;
  object-fit: cover;
}

.university .asesores .card .caption {
  margin-top: 100px;
  padding: 10px 10px;
  text-align: center;
  width: 100%;
}

.university .videos {
  margin-top: 110px;
}

.university .videos h4 {
  position: absolute;
  bottom: 16px;
  left: 30px;
  z-index: 999;
  color: #fff;
}

.university .videos .image-prev {
  background-color: #000000;
}

.university .videos .image-prev img {
  opacity: 0.7;
  width: 100%;
}

.university .videos .image-prev .btn-play {
  position: absolute;
  top: 40%;
  right: auto;
  left: 40%;
  bottom: auto;
  z-index: 5;
}

.university .habilitacion {
  padding: 50px;
  background-color: #F6F6FA;
}

.university .text {
  padding: 80px 75px;
}

.university .text-nosotros {
  margin-top: 110px;
}

.university .valores {
  background-color: #ff0000;
  padding-bottom: 80px;
  padding-top: 80px;
  margin-top: 65px;
}

.university .valores h3, .university .valores p {
  color: #fff;
}

.university .valores .item {
  padding: 20px 60px;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  margin-right: 16px;
}

.university .mensaje {
  padding-top: 110px;
  padding-bottom: 75px;
  background-color: #F6F6FA;
  margin-top: 125px;
}

.university .mensaje .avatar {
  position: absolute;
  margin-top: -170px;
}

.university .malla {
  background-color: #F6F6FA;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 120px;
}

.university .malla .nav-date {
  display: flex;
}

.university .malla .nav-date .nav-link {
  color: #fff;
  opacity: 0.3;
  background-color: #ff0000;
  border-radius: 0;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
}

.university .malla .nav-date .active {
  opacity: 1;
}

.university .malla .malla-tab .nav-pills .nav-link {
  color: #fff;
  opacity: 0.7;
  background-color: #000000;
  border-radius: 0;
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
}

.university .malla .malla-tab .nav-pills .active {
  opacity: 1;
}

.university .malla .malla-tab .tab-content {
  padding: 50px;
  background-color: #fff;
}

.university .malla h5 {
  opacity: 1;
  margin-bottom: 25px;
}

.university .insfra, .university .requisitos {
  margin-top: 120px;
}

.university .autoridades {
  margin-top: 120px;
}

.university .autoridades .card {
  margin-top: 50px;
  align-items: center;
  border: 0;
}

.university .autoridades .card .avatar {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
}

.university .autoridades .card .caption {
  margin-top: 160px;
  padding: 70px 40px;
  background-color: #F6F6FA;
  height: 220px;
  width: 100%;
}

.university .autoridades .card .caption h4 {
  padding-bottom: 5px;
}

.university .autoridades .card .caption h6 {
  color: #ff0000;
  /* position: absolute;
                    bottom: 30px; */
  padding-right: 40px;
}

.university .campos {
  margin-top: 120px;
}

.university .campos .card {
  border: 0;
}

.university .campos .card .card-body {
  background-color: #000000;
  padding: 26px 30px;
  height: 100%;
}

.university .campos .card .card-body h6 {
  color: #fff;
  font-size: 18px;
}

.contact h4 {
  font-size: 18px;
  margin-bottom: 16px;
}

.contact .mapa {
  height: 550px;
}

footer {
  margin-top: 110px;
  padding: 60px;
  background-color: #F6F6FA;
}

.scroll-top {
  color: #fff;
  padding: .3em;
  background: #000000;
  border-radius: 5px;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  text-align: center;
}

.cssload-container {
  width: 100%;
  height: 55px;
  text-align: center;
  margin-top: 40vh;
  color: #fff;
}

@keyframes load {
  0% {
    opacity: 0.2;
    filter: blur(1px);
    letter-spacing: 1px;
  }
}

.animate {
  color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
  font-family: "Read", "sans-serif";
  font-weight: 400;
}

.animate img {
  width: 80px;
  margin-top: -32px;
  opacity: 0.75;
}

@media (min-width: 1420px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1199.98px) {
  .ml-glider {
    margin-left: 5vw;
  }
  .glider-contain .glider-slide {
    min-width: 240px;
  }
}

@media (max-width: 992px) {
  .container {
    overflow: hidden;
  }
  .navbar {
    position: relative;
    padding: 30px;
  }
  .navbar .logo {
    max-width: 100px;
  }
  .navbar .navbar-nav {
    margin-top: 30px;
  }
  .navbar .navbar-nav .nav-item {
    background-color: #F9F9F9;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 18px;
    color: #000000;
  }
  .navbar .navbar-nav .nav-item .btn {
    width: 100%;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    border: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 5px;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    margin-bottom: -2px;
    border: 3px solid #F9F9F9;
  }
  .navbar .navbar-nav .dropdown .dropdown-lvl {
    left: 0;
    top: 100%;
    margin-top: 5px;
  }
  .slider-home #carouselHome .carousel-control-next {
    left: 80%;
  }
  .about-date {
    flex-direction: column;
  }
  .testimonios h3 {
    padding-right: 100px;
  }
  .testimonios .carousel-control-prev {
    right: 12%;
  }
  .news .btn {
    margin-top: 30px;
    width: 100%;
  }
  .form-carrera {
    flex-direction: column;
  }
  .form-carrera .form {
    width: 100%;
  }
  .form-carrera .form .btn {
    width: 100%;
  }
  .form-carrera .banner {
    display: none;
  }
  .modal .form-carrera .form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 18px;
  }
  .btn-float {
    right: 12px;
  }
  .header-top {
    height: 168px;
    margin-bottom: 15px;
  }
  .header-top h2 {
    font-size: 26px;
    top: 225px;
  }
  .university .mensaje .avatar {
    position: relative;
    margin-top: 20px;
  }
  .university .text {
    padding: 75px 40px;
  }
  .university .habilitacion img {
    max-height: 140px;
  }
  footer {
    padding: 30px;
  }
  .form-carrera .form {
    padding: 25px;
  }
  .testimonios .carousel-control-prev, .testimonios .carousel-control-next {
    margin-top: 30px;
  }
  .testimonios .carousel-control-prev {
    right: 14%;
  }
}
/*# sourceMappingURL=styles.css.map */