body {
    font-family: $font;
    overflow-x: hidden;
    letter-spacing: -0.8px;
}
.page-content{
    min-height: 62vh
}
h1 {
    font-weight: 800;
    font-size: 48px;
    color: $secondary;
}
h2 {
    font-weight: 800;
    font-size: 40px;
    color: $secondary;
}
h3 {
    font-weight: 800;
    font-size: 30px;
    color: $secondary;
}
h4 {
    font-weight: 800;
    font-size: 20px;
    color: $secondary;
}
h5 {
    font-weight: 800;
    font-size: 16px;
    color: $secondary;
    opacity: 0.7;
    text-transform: uppercase;
}
h6 {
    font-weight: 800;
    font-size: 14px;
    color: $secondary;
}
p {
    font-weight: 400;
    font-size: 16px;
    color: $secondary;
    opacity: 0.7;
}
a {
    text-decoration: none;
    outline: 0;
    color: $primary;
    &:hover {
        text-decoration: none;
        color: $secondary
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: transparent;
        color: $secondary;
        border: 0;
    }
    h4{
        &:hover{
            color: $primary;
        }
    }
    
}
.text-primary{
    color: $primary !important;
}
.bg-primary{
    color: #FFF;
    background-color: $primary !important;
}
.btn-float{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 95px;
	right: 30px;
	color:#FFF;
    border-radius: 50px;
    background-color: $secondary;
	text-align: center;
    font-size: 30px;
    z-index: 100;
    .my-float{
        margin-top: 14px;
    }
    &:focus,
    &.focus {
        color: #fff;
    }
}
.whatsapp{
    bottom: 30px;
	background-color:#25d366;
}



.btn {
    padding: 15px 25px;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: none;
    }
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        box-shadow: 0;
        border: 0;
    }
}
.btn-primary {
    background-color: $primary;
    color: #fff;
    border: 0;
    &:hover {
        background-color: $secondary;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: $primary;
        color: #fff;
        border: 0;
        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
        }
    }
    &:focus,
    &.focus {
        background-color: $primary;
        outline: 0;
        box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
    }
}
.btn-secondary {
    background-color: #fff;
    color: $primary;
    border: 0;
    &:hover {
        background-color: rgba(84, 201, 64, 0.15);
        color: $primary;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: #fff;
        color: $primary;
        border: 0;
        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
        }
    }
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
    }
}
.form-control {
    color: $secondary;
    padding: 20px;
    font-size: 14px;
    font-weight: 800;
    height: auto;
    border: 0;
    background-color: $gray2;
    opacity: 1;
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0px 3px 15px #00000024;
    }
}
.navbar {
    padding: 26px 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    .logo {
        max-width: 125px;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 20px 5px;
                font-size: 14px;
                font-weight: 600;
                padding: 10px;
                color: #fff;
                cursor: pointer;
                &:hover {
                    color: $primary;
                }
            }
        }
        .dropdown{
            padding: 0;
            border-radius: 0;
            .dropdown-menu{
                padding: 0;
                .dropdown-item{
                    padding: 20px;
                    font-size: 14px;
                    &:hover + .dropdown-menu {
                        display: block;
                    }
                }
                &:hover,&:active,&:focus{
                    display: block;
                }
            }
            .dropdown-lvl{
                left: 100%;
                top: auto;
                margin-top: -62px;
                /* background-color: $secondary;
                .dropdown-item{
                    color: #ffffff;
                    &:hover{
                        color: $secondary;
                    }
                } */
            }
        }
    }
}
.carousel{
    .carousel-indicators{
        li{
            width: 20px;
        }
    }
}
.slider-home{
    overflow: hidden;
    #carouselHome{
        max-height: 100vh;
        .carousel-caption{
            left: 8vw;
            right: 30VW;
            top: 35vh;
            text-align: left;
            max-height: 350px;
            h1, h5, p{
                color: #fff;
                opacity: 1;
            }
            P{
                padding-right: 100px;
            }
        }
        .carousel-item{
            background-color: $secondary;
            img{
                opacity: 0.85;
            }
        }
        .carousel-control-next, .carousel-control-prev {
            top: auto;
            bottom: 30px;
            width: 50px;
            height: 50px;
            ion-icon {
                font-size: 30px;
            }
        }
        .carousel-control-prev {
            left: 5%;
        }
        .carousel-control-next {
            right: auto;
            left: 9%;
        }
        ol{
            margin-bottom: 28px;
        }
    }
    
}
.about{
    margin-top: 110px;
    .videos{
        h4{
            position: absolute;
            bottom: 16px;
            left: 30px;
            z-index: 999;
            color: #fff;
        }
        .image-prev{
            background-color: $secondary;
            img{
                opacity: 0.6;
                width: 100%;
            }
            .btn-play{
                position: absolute;
                top: 40%;
                right: auto;
                left: 40%;
                bottom: auto;
                z-index: 5;
            }
            &:hover{
                .btn-play{
                    color: $primary;
                    background-color: $secondary;
                }
            }
        }
    }
}
.about-date{
    background-color: $primary;
    padding: 30px;
    flex-direction: row;
    .item{
        padding: 20px;
        margin-right: 5px;
        h3, h4{
            color: #fff;
            text-align: center;
        }
    }
}
.testimonios{
    .profile{
        border: 3px solid $gray2;
        padding: 40px 30px;
        margin-top: 45px;
        .picture{
            width: 80px;
            height: 80px;
            overflow: hidden;
        }
        .date{
            margin-left: 30px;
        }
        .caption{
            padding-top: 30px;
        }
    }
    .carousel-indicators{
        margin-bottom: -50px;
        li{
            background-color: $secondary;
        }
    }
    .carousel-control-next, .carousel-control-prev {
        top: 0;
        bottom: auto;
        width: 50px;
        height: 50px;
        opacity: 1;
        background-color: $gray2;
        ion-icon {
            font-size: 24px;
            color: $secondary
        }
    }
    .carousel-control-prev {
        right: 6%;
        left: auto;
    }
    .carousel-control-next {
        right: 0;
    }
}
.form-carrera{
    padding-top: 110px;
    display: flex;
    .form{
        padding: 70px 100px;
        width: 55%;
    }
    .banner{
        width: 65%;
    }
}
.news{
    margin-top: 110px;
    background-color: $gray2;
    padding-top: 60px;
    padding-bottom: 60px;
    .card{
        border: 0;
        margin-top: 75px;
        .card-image-top{
            max-height: 346px;
            overflow: hidden;
        }
        .card-body{
            padding-bottom: 40px;
            padding-left: 35px;
            padding-right: 35px;
        }
        .fecha{
            position: absolute;
            margin-top: -60px;
            width: 80px;
            height: 80px;
            background-color: $secondary;
            text-align: center;
            padding: 10px;
            h3{
                color: $primary;
                margin-bottom: 0;
            }
            p{
                color: #fff;
                opacity: 1;
                margin-bottom: 0;
            }
        }
    }
}
.header-top{
    background-color: $secondary;
    height: 350px;
    overflow: hidden;
    margin-bottom: 110px;
    h2{
        color: #fff;
        position: absolute;
        z-index: 2;
        top: 250px;
    }
    img{
        opacity: 0.4;
    }
}
.modal{
    .form-carrera{
        padding: 0;
        .form{
            width: 38%;
            padding: 70px;
        }
    }
}
.btn-play{
    padding: 25px;
    border-radius: 50%;
    line-height: 0;
    font-size: 20px;
    color: #fff;
    background-color: $primary;
}
.university{
    .asesores{
        .card{
            width: 120px;
            height: 65px;
            align-items: center;
            border: 0;
            margin-bottom: 120px;
            .avatar {
                width: 100px;
                height: 100px;
                overflow: hidden;
                position: absolute;
                border-radius: 50%;
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
            .caption {
                margin-top: 100px;
                padding: 10px 10px;
                text-align: center; 
                width: 100%;
            }
        }
    }
    .videos{
        margin-top: 110px;
        h4{
            position: absolute;
            bottom: 16px;
            left: 30px;
            z-index: 999;
            color: #fff;
        }
        .image-prev{
            background-color: $secondary;
            img{
                opacity: 0.7;
                width: 100%;
            }
            .btn-play{
                position: absolute;
                top: 40%;
                right: auto;
                left: 40%;
                bottom: auto;
                z-index: 5;
            }
        }
    }
    .habilitacion{
        padding: 50px;
        background-color: $gray2;
    }
    .text{
        padding: 80px 75px;          
    }
    .text-nosotros{
        margin-top: 110px;
    }
    .valores{
        background-color: $primary;
        padding-bottom: 80px;
        padding-top: 80px;
        margin-top: 65px;
        h3, p{
            color: #fff;
        }
        .item{
            padding: 20px 60px;
            color: #fff;
            border: 2px solid #fff;
            display: inline-block;
            margin-right: 16px;
        }
    }
    .mensaje{
        padding-top: 110px;
        padding-bottom: 75px;
        background-color: $gray2;
        margin-top: 125px;
        .avatar{
            position: absolute;
            margin-top: -170px;
        }
    }
    .malla{
        background-color: $gray2;
        padding-top: 70px;
        padding-bottom: 70px;
        margin-top: 120px;
        .nav-date{
            display: flex;
            .nav-link{
                color: #fff;
                opacity: 0.3;
                background-color: $primary;
                border-radius: 0;
                padding: 15px;
                font-size: 15px;
                font-weight: 600;
            }
            .active{
                opacity: 1;
            }
        }
        .malla-tab{
            .nav-pills{
                .nav-link{
                    color: #fff;
                    opacity: 0.7;
                    background-color: $secondary;
                    border-radius: 0;
                    padding: 20px;
                    font-size: 15px;
                    font-weight: 600;
                }
                .active{
                    opacity: 1;
                }
            }
            .tab-content{
                padding: 50px;
                background-color: #fff;
            }
        }
        h5{
            opacity: 1;
            margin-bottom: 25px;
        }
    }
    .insfra, .requisitos{
        margin-top: 120px;
    }
    .autoridades{
        margin-top: 120px;
        .card{
            margin-top: 50px;
            align-items: center;
            border: 0;
            .avatar{
                width: 200px;
                height: 200px;
                overflow: hidden;
                position: absolute;
                border-radius: 50%;
            }
            .caption{
                margin-top: 160px;
                padding: 70px 40px;
                background-color: $gray2;
                height: 220px;
                width: 100%;
                h4{
                    padding-bottom: 5px;
                }
                h6{
                    color: $primary;
                    /* position: absolute;
                    bottom: 30px; */
                    padding-right: 40px;
                }
            }
        }
    }
    .campos{
        margin-top: 120px;
        .card{
            border: 0;
            .card-body{
                background-color: $secondary;
                padding: 26px 30px;
                height: 100%;
                h6{
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
}
.contact{
    h4{
        font-size: 18px;
        margin-bottom: 16px;
    }
    .mapa{
        height: 550px;
    }
}
footer{
    margin-top: 110px;
    padding: 60px;
    background-color: $gray2;
}
.scroll-top {
    color: #fff;
    padding: .3em;
    background: $secondary;
    border-radius: 5px; 
}