//Import Variables
@import "variables";

//Import Mixins
@import "mixins";

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff;
    text-align: center;
}
.cssload-container {
    width: 100%;
    height: 55px;
    text-align: center;
    margin-top: 40vh;
    color: #fff;
}

@keyframes load {
    0% {
        opacity: 0.2;
        filter: blur(1px);
        letter-spacing: 1px;
    }
}

.animate {
    color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    font-family: "Read", "sans-serif";
    font-weight: 400;
}

.animate img {
    width: 80px;
    margin-top: -32px;
    opacity: 0.75;
}
