@media (min-width: 1420px){
    .container{
        max-width: 1320px;
    }

}

@media (max-width: 1199.98px) {
    .ml-glider {
        margin-left: 5vw;
    }
    .glider-contain {
        .glider-slide {
            min-width: 240px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        overflow: hidden;
    }
    .navbar{
        position: relative;
        padding: 30px;
        .logo{
            max-width: 100px;
        }
        .navbar-nav{
            margin-top: 30px;
            .nav-item {
                background-color: $gray;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                .nav-link {
                    padding: 18px;
                    color: $secondary;
                }
                .btn{
                    width: 100%;
                }
            }
            .dropdown{
                .dropdown-menu{
                    border: 0;
                    padding: 0;
                    text-align: center;
                    margin-bottom: 5px;
                    .dropdown-item{
                        margin-bottom: -2px;
                        border: 3px solid $gray;
                    }
                }
                .dropdown-lvl{
                    left: 0;
                    top: 100%;
                    margin-top: 5px;
                }
            }
        }
    }
    .slider-home #carouselHome .carousel-control-next {
        left: 80%;
    }
    .about-date{
        flex-direction: column;
    }
    .testimonios {
        h3{
            padding-right: 100px;
        }
        .carousel-control-prev {
            right: 12%;
        }
    }
    .news{
        .btn{
            margin-top: 30px;
            width: 100%;
        }
    }
    .form-carrera {
        flex-direction: column;
        .form{
            width: 100%;
            .btn{
                width: 100%;
            }
        }
        .banner{
            display: none;
        }
    }
    .modal{
        .form-carrera{
            .form{
                width: 100%;
            }
        }
    }
}
@media (max-width: 576px) {
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 26px;
    }
    h4{
        font-size: 18px;
    }
    .btn-float{
        right: 12px;
    }
    .header-top {
        height: 168px;
        margin-bottom: 15px;
        h2{
            font-size: 26px;
            top: 225px;
        }
    }
    .university {
        .mensaje{
            .avatar{
                position: relative;
                margin-top: 20px;
            }
        }
        .text {
            padding: 75px 40px;
        }
        .habilitacion{
            img{
                max-height: 140px;
            }
        }
    }
    footer{
        padding: 30px;
    }
    .form-carrera{
        .form{
            padding: 25px;
        }
    }
    .testimonios {
        .carousel-control-prev, .carousel-control-next{
            margin-top: 30px;
        }
        .carousel-control-prev {
            right: 14%;
        }
    }
}

